// Colores de marca
$c1: null;
$c1-b: null;
$c2: null;
$c3: null;
$c4: null;

$c-disabled: #8C8B94;
$c-disabled2: #706E7B;

// Colores en el sitio
$bkgd: #f4f2fa;
$bkgdb: #1F2023;
$bkgdb2: #2c2d31;

// mediaqueries - width [min]
$mobile: 0px; // 0 Because it's mobile first.
$tablet: 600px;
$desktop: 1024px;