// Reseteo de bootstrap
*,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    background-color: $bkgd;

    body {
        background-color: $bkgd;

        width: 100vw;
        height: 100vh;

        font-family: 'Inter', sans-serif;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #6E6E6E;
        /* color of the scroll thumb */
        border-radius: 9px;
        /* roundness of the scroll thumb */
        border: 2px solid white;
        /* creates padding around scroll thumb */
    }

    body::-webkit-scrollbar {
        width: 9px;
    }
}